---
type Props = {
  href: string;
};

const { href } = Astro.props;
---

<a
  download
  class="text-slate-400 hover:text-slate-500 dark:text-slate-600"
  href={href}
  rel="noopener noreferrer"
>
  <svg
    class="h-6 w-6"
    fill="none"
    stroke="currentColor"
    viewBox="0 0 24 24"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"></path>
  </svg>
</a>
