---

import Linkedin from './LinkedinIcon.astro'
import Email from './Email.astro'
---

<p>São Paulo, Brazil | <Email address="m@rco.sh" /> | +55 (11) 91577-7715 | <Linkedin href='https://www.linkedin.com/in/marcoantoniogonzalezjunior/'/></p>

<style>
    p {
        display: block;
    }
    svg {
        position: relative;
        top: 10px;
        left: 10px;
    }
</style>